.header_wrap {
    background-color: #252525;
    color: #e1e1e1;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 5px solid #454545;
    .main_nav {
        text-align: right;
        ul {
            list-style-type: none;
            margin-bottom: 0;
            li {
                display: inline-block;
                a {
                    font-family: "Montserrat",sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 1.75em;
                    color: #8d8d8d;
                    padding: 10px 15px;
                    text-transform: capitalize;
                    text-decoration: none !important;
                    display: block;
                    position: relative;
                    &:hover {
                        color: #96885f;
                    }
                }
            }
        }    
    }
}