.header_wrap {
    background-color: #252525;
    color: #e1e1e1;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 5px solid #454545;
    .copiright {
        text-align: center;
        p {
            margin-bottom: 0;
        } 
    }
}